.container-signin {
  position: relative;
}

.left {
  display: flex;
  justify-content: center;
  img {
    width: 70%;
    height: auto;
  }
}

.right__wrap {
  width: 100%;
}

.signin {
  &__title {
    text-align: center;

    &--main {
      font-size: 24px;
      margin-bottom: 0.5rem;
    }

    &--sub {
      font-size: 14px;
    }
  }

  &__form {
    margin-top: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--forgot {
      width: 80%;
      margin: 0.4rem auto;
      position: relative;

      a {
        position: absolute;
        right: 0;
        color: #333;
      }
    }

    &--submit {
      margin: 1.6rem 0;
      width: 12rem;
      height: 3rem;

      font-size: 0.8rem;
      font-weight: 800;
      text-transform: uppercase;

      background-color: var(--color);
      color: #fff;
      border-radius: 25px;
      border: 1px solid var(--color);

      &:hover {
        background: #3b49df radial-gradient(circle, transparent 1%, #505cdd 1%)
          center/15000%;
      }

      &:active {
        outline: none;
        border: none;
        background-size: 100%;
        transition: all 0s;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.social {
  width: 100%;
  margin-top: 1rem;

  &__title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    line-height: 0.1rem;
    border-bottom: 1px solid #000;

    span {
      background-color: var(--backColor);
      padding: 0 1rem;
      color: #666;
    }
  }

  &__network {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;

    &--facebook,
    &--google {
      padding: 1rem;
      width: 9rem;
      border-radius: 0.5rem;
      color: #fff;
      text-align: center;
      cursor: pointer;

      span {
        padding-left: 0.8rem;
      }
    }

    &--facebook {
      background-color: #4267b2;
      border: 1px solid #4267b2;
    }

    &--google {
      background-color: #db4437;
      border: 1px solid #db4437;
    }
  }

  &__another {
    margin-top: 2.2rem;
    text-align: center;

    a {
      color: var(--color);
      font-weight: 700;
    }
  }
}

.eye {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
}

@media screen and (min-width: 450px) {
  .container-signin {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container-signin {
    width: 50%;
  }

  .left {
    img {
      width: 80%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container-signin {
    display: flex;
    width: 80%;
    gap: 1rem;
    margin-top: 8rem;
  }

  .left {
    width: 50vw;
    img {
      width: 100%;
    }
  }

  .right {
    width: 50vw;

    &__wrap {
      width: 100%;
      margin: 0 auto;
    }

    .signin {
      margin-bottom: 3rem;

      &__title {
        &--main {
          font-size: 26px;
        }
        &--sub {
          font-size: 1rem;
        }
      }

      &__form {
        padding-top: 2.2rem;

        &--submit {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .right {
    &__wrap {
      width: 90%;
    }
  }
}
