.rightsidebar {
  display: flex;
  flex-direction: column;
  max-width: 325px;

  &__card {
    margin: .5rem 0;
    line-height: 1.5;

    header {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;

      h3 {
        flex: 1;
      }
      small {
        color: #3b49df;
        font-size: 0.875rem;
      }
    }

    li {
      display: block;
      padding: 12px 1rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: #ffffff;
      }

      &:hover a {

        color: #3b49df;
      }

      a {
        color: #202428;
      }
    }

    small {
      color: #64707d;
    }

    span {
      background-color: #f9fafa;
      color: #fff;
      font-size: 0.75rem;
      padding: 0.25rem;
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}
