.presentation {
    display: flex;
    justify-content: center;
    
    &__left {
        display: none;
    }

    &__center {
        margin: 0 12px;
    }

    &__right {
        max-width: 325px;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .presentation {
        &__left {
            margin-left: 12px;
            max-width: 280px;
            min-width: 200px;
            display: block;
        }
    }
}

@media screen and (min-width: 1024px) {
  .presentation {
      gap: .5rem;

      &__right {
          margin-right: 12px;
          display: block;
      }
  }
} 