:root {
  --color: #3b49df;
  --backColor: #eef0f1;
  background-color: var(--backColor);
}

.container-signup {
  padding-top: 80px;
  position: relative;
}

.right {
  text-align: center;
  img {
    width: 50%;
    height: auto;
  }
}

.left {
}

.signup {
  &__title {
    text-align: center;

    &--main {
      font-size: 24px;
      margin-bottom: 0.5rem;
    }

    &--sub {
      font-size: 14px;
    }
  }

  &__form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &--input {
      width: 85%;
      height: 3rem;
      background-color: #fff;
      border: 2px solid var(--color);
      border-radius: 25px;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      input {
        border: none;
        outline: none;
        width: 70%;
        height: 80%;
        font-size: 18px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    &--email {
    }

    &--password {
      position: relative;
    }

    &--repassword {
      position: relative;
    }

    &--icon {
      padding: 0 1rem 0.2rem;
      color: var(--color);
    }

    &--error {
      font-size: 14px;
      color: red;
      display: block;
      height: 1.6em;
      margin-top: 0.2rem;
    }

    &--option {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

    &--forgot {
      text-decoration: none;
      color: #000;
      margin-top: 0.2rem;
    }

    &--submit {
      margin: 1rem 0;
      width: 12rem;
      height: 3rem;

      color: #fff;
      background-color: var(--color);
      border-radius: 25px;
      border: 1px solid var(--color);

      font-size: 0.8rem;
      font-weight: 800;
      text-transform: uppercase;

      &:hover {
        background: #3b49df radial-gradient(circle, transparent 1%, #505cdd 1%)
          center/15000%;
      }

      &:active {
        outline: none;
        border: none;
        background-size: 100%;
        transition: all 0s;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.social-signup {
  &__another {
    margin-top: .8rem;
    text-align: center;

    a {
      color: var(--color);
      font-weight: 700;
    }
  }
}

.eye {
  position: absolute;
  right: 0;
  bottom: 0.4rem;
}

.checkbox {
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #3b49df;
  --tick: #fff;
  position: relative;
  display: flex;
  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }
    &:checked {
      --b: var(--border-active);
    }
  }
  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
    input {
      &:checked {
        --s: 2px;
        transition-delay: 0.4s;
        & + svg {
          --a: 16.1 86.12;
          --o: 102.22;
        }
      }
    }
    svg {
      stroke-dasharray: var(--a, 86.12);
      stroke-dashoffset: var(--o, 86.12);
      transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
    }
  }
  span {
    color: #666;
    font-size: 1rem;
    margin: 0.2rem 0 0 0.6rem;
  }
}

@media screen and (min-width: 450px) {
    .container-signup {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
  .container-signup {
    width: 50%;
    
  }

  .right {
    img {
      width: 50%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container-signup {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    gap: 1rem;
    margin-top: 5rem;
  }

  .right {
    width: 50vw;
    display: flex;
    align-items: center;

    img {
      width: 80%;
      margin: 0 auto;
    }
  }

  .left {
    width: 50vw;
    &__wrap {
      width: 100%;
      margin: 0 auto;
    }

    .signup {
      margin-bottom: 3rem;

      &__title {
        &--main {
          font-size: 26px;
        }
        &--sub {
          font-size: 1rem;
        }
      }

      &__form {
        &--input {
          margin: 0.8rem 0 0.4rem;
        }

        &--submit {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .left {
    &__wrap {
      width: 90%;
    }
  }
}
