.preview {
  padding: 1rem;
  margin-top: 1rem;
}

.new {
  display: flex;
  height: 90vh;
  max-height: 90vh;
  flex-flow: column;

  p {
    min-height: 1rem;
  }

  pre {
    background-color: #ccc;
    overflow-x: auto;
    padding: 0.5rem;
  }

  input {
    border: 1px solid #dcdfe6;
    border-radius: 0.25rem;
    padding: 0.4rem;

    &:hover {
      background-color: #fff;
    }

    &:focus {
      outline: none;
      border-color: #3b49df;
    }
  }

  button {
    &:focus {
      outline: none;
      border-color: #3b49df;
    }
  }

  &__header {
    flex: 0 1 auto;
  }

  &__edit {
    flex: 1 1 auto;
  }

  &__input {
    margin: 0.5rem;

    &--title {
      input {
        width: 100%;
        font-size: 1rem;
      }
    }

    &--sub {
      display: flex;
      margin-top: 0.875rem;
      flex-direction: column;
      position: relative;
    }

    &--tags {
      width: 100%;
      margin-right: 1rem;
      input {
        width: 100%;
      }
    }

    &--save {
      margin-top: 1rem;
      button {
        border: 1px solid #3b49df;
        border-radius: 0.25rem;
        padding: 0.6rem 1rem;
        color: #3b49df;
        display: flex;
        align-items: center;
        width: 6rem;
        font-size: 14px;
      }
    }
  }

  &__cover {
    margin: 1rem 0.5rem 0.6rem;
    display: flex;
    position: relative;

    button {
      border: 1px solid #dcdfe6;
      border-radius: 0.25rem;
      padding: 0rem;
      height: 3rem;
      width: 6rem;
      margin-right: 0.6rem;
    }

    &--button {
      position: relative;
      label {
        font-size: 12px;
      }
      input {
        position: absolute;
        display: none;
      }
    }

    &--img {
      width: 250px;
      height: 105px;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__edit {
    
    &--card {
      padding: 1rem;
    }
  }

  &__preview {
    &--button {
      margin-top: 2rem;
      position: fixed;
      bottom: 0;
      z-index: 100;
      button {
        z-index: 100;
        border: 1px solid #dcdfe6;
        border-radius: 0.25rem;
        height: 2rem;
        width: 5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .new {
    &__header {
      padding: 0 1rem;
    }

    &__input {
      &--sub {
        flex-direction: row;
      }

      &--save {
        margin-top: 0;

        button {
          height: 100%;
        }
      }
    }

    &__cover {
      margin: 1rem 0.5rem 0.5rem;

      button {
        width: auto;
        margin-right: 2rem;
        padding: 0.8rem;
      }

      &--img {
        position: relative;
      }
    }
    &__edit {
      margin: 0 1.5rem 0;
    }
  }
}
