.rspw {
  height: 100vh;
  position: relative;

  &__card {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    width: 554px;
    max-width: 82vw;
    padding: 1.8rem;

    &--form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &--title {
      font-size: 22px;
      margin-bottom: 1.4rem;
      color: #08090a;
    }

    &--submit {
      margin-top: 1rem;
      input {
        width: 100%;
        background-color: #3b49df;
        color: #fff;
        
        padding: 0.5rem 1rem;
        font-size: 18px;
        font-weight: 500;
        
        border: 1px solid #3b49df;
        border-radius: 8px;
        outline: none;
        cursor: pointer;

        &:focus {
          border-radius: 8px;
        }
      }
    }
  }
}
